<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432375925797-psdvbpsdo6lplrfg56h8ohgl6vv7jn0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432375925797-psdvbpsdo6lplrfg56h8ohgl6vv7jn0c</string>
	<key>API_KEY</key>
	<string>AIzaSyCLAc4pqdkHBmryofbMjkGSEbGIdPQ-58c</string>
	<key>GCM_SENDER_ID</key>
	<string>432375925797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tabco.loyaltyDemo</string>
	<key>PROJECT_ID</key>
	<string>loyalty-1-7b2d8</string>
	<key>STORAGE_BUCKET</key>
	<string>loyalty-1-7b2d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432375925797:ios:ef351c39c8f2675febc3cc</string>
</dict>
</plist>